{% extends 'base.html' %}

{% block title %} Pet Adoption Homepage {% endblock %}

{% block content %}
<h1> Pets </h1>
{% for pet in pets %}
<div class="pet-info">
  <div>
    <img class="pet-image" src="{{ pet.photo_url }}">
  </div>

  <div class="pet-name">
    <p>
      <a href="/{{ pet.id }}">{{ pet.name }}</a>
      {% if pet.available == True %}
        <b> is available! </b>
      {% endif %}
    </p>
  </div>
</div>
{% endfor %}

<a class="btn btn-primary" href="/add">Add a Pet</a>

{% endblock %}