{% extends 'base.html' %}

{% block title %}Edit Pet {{ pet.name }}{% endblock %}

{% block content %}


<div class="pet-profile-info">
  {% if pet.photo_url %}<img src="{{ pet.photo_url }}"> {% endif %}
  <h2>{{ pet.name }}</h2>
  <p>Age: {{ pet.age }}</p>
  <p>Species: {{ pet.species }}</p>
</div>

<form id="pet-edit-form" method="POST" action="/{{ pet.id }}">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button class="btn btn-primary" type="submit">Submit</button>
</form>



{% endblock %}